body {
  margin: 0;
  padding: 0;
  background: #242424;
  color: white;
}

.game {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}