.currentWordContainer  {
  position: absolute;
  display: flex;
  align-items: center;
  margin-bottom: 35rem;
  flex-direction: column;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.word {
  display: flex;
  background-color: #242424;
}

.currentWordLetters {
  border: 1px solid white;
  font-size: 50px;
  padding: 1rem;
  margin: 0.1rem;
}