.lettersContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;

}

.letters {
  display: flex;
  justify-content: center;
  border: 2px white solid;
  color: black;
  padding: 0.5rem;
  /* color: red; */
  font-size: 35px;
}